div.store-page {
  margin-bottom: 100px;

  .box-padding {
    margin: 20px 10px 0 10px;
    padding-bottom: 10px;
  }

  section.slide-show {
    #slider_container_2 img {
      overflow: hidden;
      min-height: 200px;
      max-height: 200px;
    }
    #slider_container_2 {
      width: 100%;
    }
    @media only screen and (min-width: 768px ){
      #slider_container_2 {
        overflow: hidden;
        min-height: 280px;
        max-height: 280px;
      }
    }

    #carousel-store-page {
      overflow: hidden;
      min-height: 200px;
      max-height: 200px;

      @media only screen and (min-width: 768px) {
        min-height: 280px;
        max-height: 280px;
      }
      img {
        width: 100%;
      }
    }
    .carousel-indicators {
      li {
        margin: 0 2%;
        background-color: rgba(1,1,1, 0.64);

        @media only screen and (min-width: 768px) {
          margin: 0 1%;
        }
        .transition-duration(0.2s);
        .transition-property(background-color);
      }
      .active {
        background-color: #E23F3F;
      }
    }
  }
  section.information {
    @extend .box-padding;
    @media only screen and (min-width: 768px) {
      width: 100%;

      .display(flex);
      .justify-content(center);
    }
    .information-wrapper {
      position: relative;

      @media only screen and (min-width: 768px) {
        width: 640px;
        margin-top: 20px;
      }
    }
    #name {
      @extend .box-padding;
      //   &:before {
      //       content: url("../img/store_page_title_icon.png");
      //       mix-blend-mode: multiply;
      //   }
    }
    .fa-heart {
      font-size: 6em;
      position: absolute;
      top: -20px;
      right: 0;
      margin: 0 10px;
      color: #4BCCDE;

      span {
        font-family: Helvetica-Bold;
        font-size: 0.3em;
        font-weight: bold;
        line-height: 3em;
        position: absolute;
        right: 0;
        left: 0;
        margin: 0 auto;
        text-align: center;
        color: white;
      }
    }
    #description {
      font-size: 1.2em;
      overflow: auto;
      height: 80px;
      text-align: justify;

      @media only screen and (min-width: 768px) {
        height: 120px;
        padding: 15px;
        border-radius: 8px;
        background-color: #F3F3F3;
      }
      @extend .box-padding;
    }
    .recommended {
      display: block;
      width: 100%;
      margin: 0 2%;

      .display(flex);
      .justify-content(space-around);

      .portrait img {
        width: 100%;
      }
      .landscape img {
        height: 100%;
      }

      .wrapper {
        font-family: PingFangSC-Regular;
        font-size: 1em;
        display: inline-block;
        width: 127px;
        height: 127px;
        margin: 3px;
        text-align: center;
        color: #5E5E5E;
        @media only screen and (min-width: 387px) {
          width: 147px;
          height: 147px;
          margin: 5px;
        }
        @media only screen and (min-width: 768px) {
          width: 180px;
          height: 180px;
          margin: 12px;
        }
      }
      div.image {
        overflow: hidden;
        width: 100%;
        height: 100%;
        border-radius: 999px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
      }
      div.wrapper:nth-child(1) > .image {
        background-image: url("../img/example_store_page_4.jpg");
      }
      div.wrapper:nth-child(2) > .image {
        background-image: url("../img/example_store_page_5.jpg");
      }
      div.wrapper:nth-child(3) > .image {
        background-image: url("../img/example_store_page_6.jpg");
      }
    }
    .details {
      margin-top: 30px;

      .display(flex);
      .flex-direction(column);
      @extend .box-padding;
      i {
        line-height: 2.5em;
        width: 10%;
        margin-right: 2%;
        text-align: center;
        background-color: #DADADA;
        &:before {
          font-size: 1.5em;
          color: #4BCCDE;
        }
      }
      span {
        font-size: 1em;
        line-height: 2.5em;
        margin: 2px 0;
        color: white;
        background-color: #B6B6B6;
      }
    }
  }
}

.use-card {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: #A7CFE5;

  .display(flex);
  .align-items(center);
  .justify-content(center);
  a {
    font-size: 1.4em;
    width: 60%;
    height: 75%;
    line-height: 75%;
    padding-top: 20px;
    text-align: center;
    vertical-align: middle;
    color: white;
    border-style: none;
    border-radius: 5px;
    background-color: #76B0CC;
  }
}


.grid-item{
  width:25%;
}
.grid-item-gigante{
  width:49%;
}

.owl-row{
  height: 100px;
  background: rgba(0,0,0,0.3);
  padding:0 20%;
}
.owl-carousel  img{
    height:100px;
    padding: 5px;
    margin:0;
}
.storePosterImage{
  width: 100%;
}
.storePoster{
  padding-bottom: 5px;
  background: rgba(0,0,0,0.3);
}